name: CI

on:
  push:
  pull_request:

jobs:
  rust:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup mise
        uses: jdx/mise-action@v2
        with:
          cache: true

      - name: Setup dependencies
        run: mise run setup

      - name: Lint
        run: mise run lint

      - name: Tests
        run: mise run test

      - name: Smoke
        run: mise run smoke
